<h1>New thesis/dissertation for Open Access Dissertations has been uploaded.</h1>

<h3>Author:</h3>
<p>
{{ email_data.authorfname }}
    {% if email_data.authormname %} {{ email_data.authormname }} {% endif %}
    {{ email_data.authorlname }} {{ email_data.authoremail }}
</p>

<h3>Title:</h3>
<p>{{ email_data.title }}</p>

<h3>Keywords:</h3>
{% if email_data.getlist('keywords') %}
    <ul>
    {% for keyword in email_data.getlist('keywords') %}
        {% if keyword %}
            <li>{{ keyword }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}

<h3>Department</h3>
{{ email_data.department }}