<html>
<body>
<p>A new thesis/dissertation for Open Access Dissertations has been uploaded by
    {{ email_data.authorfname }} {% if email_data.authormname %} {{ email_data.authormname }} {% endif %}{{ email_data.authorlname }} {{ email_data.email }}.</p>

<div>The authors are:</div>
{{ email_data.authorfname }} {% if email_data.authormname %} {{ email_data.authormname }} {% endif %}{{ email_data.authorlname }} {{ email_data.email }}

<div>The title is:</div>
{{ email_data.title }}

<div>The keywords are:</div>
    {% if email_data.getlist('keywords') %}
        <li><strong>Keywords:</strong>
                <ul class="list-unstyled">
                {% for keyword in email_data.getlist('keywords') %}
                        <li>{{ keyword }}</li>
                {% endfor %}
                </ul>
        </li>
    {% endif %}
</body>
</html>