{% extends "base.html" %}
{% block content %}

	<div class="jumbotron">
		<h3 class="display-5">Internal Server Error</h3>
		<p>We are sorry to report that there is a problem with the server right now. The server administrator has already been notified of this error.</p>
		<p>If your file is larger than 16MB or need additional assistance depositing your ETD, please contact the ({{ formdata.get('grad_email') }}) and copy the Repository Manager ({{ formdata.get('jason_email') }}).
		</p>
		<p>We suggest you try again later to complete your deposit by clicking <a href="{{ url_for('index') }}">here</a>.</p>
	</div>

{% endblock %}