{% extends "base.html" %}
{% block content %}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">1. Select deposit type</li>
        <li class="breadcrumb-item">2. Accept Agreement</li>
        <li class="breadcrumb-item active">3. Submit Form</li>
      </ol>
    </nav>

    <h1>Dissertation Deposit Form</h1>

    <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">

        <!-- TITLE -->
        <div class="card mb-3">
            <div class="card-header">Title <small class="text-muted">required</small></div>
            <div class="card-body">
                <p class="card-text">
                    Do not use all caps. Please use initial caps, i.e., capitalize the first letter of each major word
                    and lower case minor words like “and,” “in,” “a,” etc. This is an example of a properly capitalized
                    title: "An Analysis of Clause Usage in Academic Texts Produced by African-American, Haitian, and
                    Hispanic Community College Students."
                 </p>
                <input id="title" name="title" class="form-control" required>
            </div>
        </div>

        <!-- AUTHOR -->
        <div class="card mb-3">
            <div class="card-header">Author <small class="text-muted">required</small></div>
            <div class="card-body">
                <p class="card-text">Make sure to list the name as seen on the document. Please use a permanent email address that the public will see.</p>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="authoremail" type="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input id="fname" name="authorfname" class="form-control"  required>
                </div>
                <div class="form-group">
                    <label for="mname">Middle Name or Initial</label>
                    <input id="mname" name="authormname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input id="lname" name="authorlname" class="form-control" required>
                </div>
            </div>
        </div>

        <!-- PUBLICATION DATE -->
        <div class="card mb-3">
            <div class="card-header">Publication Date</div>
            <div class="card-body">
                <p class="card-text">The publication date is set to today's date and cannot be modified.</p>
                <input id="pubdate" name="pubdate" type="text" class="form-control" value="{{ dates.today }}" readonly>
            </div>

        </div>

        <!-- DATE OF DEFENSE-->
         <div class="card mb-3">
             <div class="card-header">Date of Defense <small class="text-muted">required</small></div>
            <div class="card-body">
                <input id="defensedate" name="defensedate" class="form-control" type="date" max="{{ dates.today }}" required>
            </div>
        </div>

        <!-- AVAILABILITY-->
        <div class="card mb-3">
            <div class="card-header">Availability <small class="text-muted">required</small></div>
            <div class="card-body">
                <p class="card-text">Select Open Access or one of the Embargo options.</p>
                <ul>
                    <li>If "Open Access" is selected, the ETD will be made available for access world-wide.</li>
                    <li>If an "Embargo" is selected, the ETD will be withdrawn from access for the specified time period.
                        At the release date, the ETD will be made automatically available for Open Access.</li>
                </ul>
                 <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="availability" id="openaccess" value="open access" required>
                        <label class="form-check-label" for="openaccess">Open Access</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="availability" id="embargoone" value="{{ dates.oneyear }}">
                        <label class="form-check-label" for="embargoone">Embargo - 1 year ({{ dates.oneyear }})</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="availability" id="embargotwo" value="{{ dates.eighteenmonths }}">
                        <label class="form-check-label" for="embargotwo">Embargo - 18 months ({{ dates.eighteenmonths }})</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="availability" id="embargothree" value="{{ dates.twoyears }}">
                        <label class="form-check-label" for="embargothree">Embargo - 2 years ({{ dates.twoyears }})</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- DEGREE TYPE-->
        <div class="card mb-3">
            <div class="card-header">Degree Type <small class="text-muted">required</small></div>
            <div class="card-body">
                <div class="form-group">
                    {% for type in data.dissertation.degreetype %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="degreetype" id="{{ type }}" value="{{ data.dissertation.degreetype.get(type) }}" required>
                            <label class="form-check-label" for="{{ type }}">{{ data.dissertation.degreetype.get(type) }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- DEGREE NAME-->
        <div class="card mb-3">
            <div class="card-header">Degree Name <small class="text-muted">required</small></div>
            <div class="card-body">
                <div class="form-group">
                    {% for name in data.dissertation.degreename %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="degreename" id="{{ name }}" value="{{ name }}" required>
                            <label class="form-check-label" for="{{ name }}">{{ data.dissertation.degreename.get(name) }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- DEPARTMENT -->
        <div class="card mb-3">
            <div class="card-header">Department <small class="text-muted">required</small></div>
            <div class="card-body">
                <div class="form-group">
                    <select class="form-control" name="department" required>
                        <option disabled selected value>Select a department</option>
                        {% for department in data.departments %}
                            <option name="department" value="{{ department }}">{{ department }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <!-- COMMITTEE MEMBERS -->
         <div class="card mb-3">
            <div class="card-header">Committee Members</div>
            <div class="card-body">
                <p class="card-text">
                    Add the names of the committee members (up to 7). The Chairperson’s name (Mentor's
                    name for Medical School students only) should be added first. (Medical School students
                    should add the Chairperson's name in the second Committee Members' space.) Format each
                    name: First name, middle name or initial, last name (e.g., John W. Smith). Omit titles and
                    degrees. Do not add the Dean of the Graduate School.
                </p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">1st committee member</span>
                    </div>
                    <input type="text" class="form-control" placeholder="First name" name="firstcmtemember">
                    <input type="text" class="form-control" placeholder="Middle name" name="firstcmtemember">
                    <input type="text" class="form-control" placeholder="Last name" name="firstcmtemember">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">2nd committee member</span>
                    </div>
                    <input type="text" class="form-control" placeholder="First name" name="secondcmtemember">
                    <input type="text" class="form-control" placeholder="Middle name"name="secondcmtemember">
                    <input type="text" class="form-control" placeholder="Last name"name="secondcmtemember">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">3rd committee member</span>
                    </div>
                    <input type="text" class="form-control" placeholder="First name" name="thirdcmtemember">
                    <input type="text" class="form-control" placeholder="Middle name"name="thirdcmtemember">
                    <input type="text" class="form-control" placeholder="Last name"name="thirdcmtemember">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">4th committee member</span>
                    </div>
                    <input type="text" class="form-control" placeholder="First name" name="fourthcmtemember">
                    <input type="text" class="form-control" placeholder="Middle name"name="fourthcmtemember">
                    <input type="text" class="form-control" placeholder="Last name"name="fourthcmtemember">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">5th committee member</span>
                    </div>
                    <input type="text" class="form-control" placeholder="First name" name="fifthcmtemember">
                    <input type="text" class="form-control" placeholder="Middle name" name="fifthcmtemember">
                    <input type="text" class="form-control" placeholder="Last name" name="fifthcmtemember">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">6th committee member</span>
                    </div>
                    <input type="text" class="form-control" placeholder="First name" name="sixthcmtemember">
                    <input type="text" class="form-control" placeholder="Middle name" name="sixthcmtemember">
                    <input type="text" class="form-control" placeholder="Last name" name="sixthcmtemember">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">7th committee member</span>
                    </div>
                    <input type="text" class="form-control" placeholder="First name" name="seventhcmtemember">
                    <input type="text" class="form-control" placeholder="Middle name" name="seventhcmtemember">
                    <input type="text" class="form-control" placeholder="Last name" name="seventhcmtemember">
                </div>
                <!-- <div class="row">
                        <button type="button" class="btn btn-link">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            Add more committee members
                        </button>
                </div> -->
            </div>
        </div>

        <!-- ABSTRACT -->
        <div class="card mb-3">
            <div class="card-header">Abstract</div>
            <div class="card-body">
                <p class="card-text">
                    250 word limit. <strong>Please note that your text will get cut off if you reach the limit.</strong>
                    Do not include the Abstract heading that appears in the manuscript. Do not paste directly from a Microsoft Word
                    document. 'Save as' a text file, then copy/paste from the saved file.
                 </p>
                <textarea class="form-control" id="abstract" name="abstract" rows="10" maxlength="1800"></textarea>
            </div>
        </div>

        <!-- TOPIC -->
        <!--
        <div class="card mb-3">
            <div class="card-header">Topic <small class="text-muted">required</small></div>
            <div class="card-body">
                <div class="form-group">
                    <select class="form-control" name="topic" required>
                        <option disabled selected value>Select a primary category</option>
                        {% for category in data.topics %}
                            <option disabled>{{ category.upper() }}</option>
                            {% for topic in data.topics.get(category) %}
                                <option>   {{ topic }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        -->

        <!-- KEYWORDS -->
         <div class="card mb-3">
            <div class="card-header">Keywords</div>
            <div class="card-body">
                <p class="card-text">
                    Six (6) keyword limit. Provide subject keywords or keyword phrases that will help others find your
                    work.  Think about what words people might use to search, and what the important concepts in your
                    work are. Use sentence case for keywords (i.e. capitalize the first word of each keyword phrase,
                    but not subsequent words). Spell out all acronyms. It would be beneficial to use a controlled list
                    such as the
                    <a href="http://id.loc.gov/authorities/subjects.html" target="_blank">Library of Congress Subject Headings</a>
                 </p>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" id="keywordone" name="keywords">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" id="keywordtwo" name="keywords">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" id="keywordthree" name="keywords">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" id="keywordfour" name="keywords">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" id="keywordfive" name="keywords">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" id="keywordsix" name="keywords">
                    </div>
                </div>
               <!-- <div class="row">
                        <button type="button" class="btn btn-link">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            Add more keywords
                        </button>
                </div> -->
            </div>
        </div>

        <!-- LANGUAGE -->
        <div class="card mb-3">
            <div class="card-header">Language</div>
            <div class="card-body">
                <p class="card-text">
                    If your ETD is in English, do not modify this selection. If you are approved to submit in a
                    language other than English, please select it from the drop down. If the language does not appear
                    in the dropdown, please contact ___ to get pre-approval
                 </p>
                <select class="form-control" id="language" name="language">
                    <option value="EN" default required>English</option>
                    {% for language in data.languages %}
                        <option value="{{ language }}">{{ data.languages.get(language) }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- FILE -->
        <div class="card mb-3">
            <div class="card-header">Upload Full Text <small class="text-muted">required</small></div>
            <div class="card-body">
                <p class="card-text">
                    Your primary file should be deposit in the first box. You may upload multiple suplemental files
                    in the second box. Allowed formats are txt, pdf, docx. Maximum total upload limit is 16MB.
                </p>
                <div class="form-group">
                    <!--<label class="custom-file-label" for="file">Upload Full Text</label>-->
                    <input type="file" name="primaryfile" class="form-control-file" id="primaryfile"
                           accept=".txt,
                                   .jpeg,.png,image/png
                                   .pdf,application/pdf,
                                   .xml,application/xml
                                   .doc,.docx,application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                   .xls,.xlsx,application/vnd.ms-excel"
                                    multiple required>
                </div>
            </div>

        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-default" name="deposittype" value="dissertation">Submit Deposit</button>

    </form>
    <br>
{% endblock %}