{% extends "base.html" %}
{% block content %}

    <h1>Masters Deposit Form</h1>
    <form action="{{ action }}" method="post" enctype="multipart/form-data">

        <!-- TITLE -->
        <div class="panel panel-default">
            <div class="panel-heading">Title</div>
            <div class="panel-body">
                <div class="form-group">
                    <!-- <label for="title">Title</label> -->
                    <input id="title" name="title" class="form-control" aria-describedby="titleHelp" value="SWORD deposit"/>
                </div>
            </div>
            <div class="panel-footer">
                Do not use all caps. Please use initial caps, i.e., capitalize the first letter of each major word
                and lower case minor words like “and,” “in,” “a,” etc. This is an example of a properly capitalized
                title: "An Analysis of Clause Usage in Academic Texts Produced by African-American, Haitian, and
                Hispanic Community College Students."</div>
        </div>

        <!-- AUTHOR -->
        <div class="panel panel-default">
            <div class="panel-heading">Author</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" class="form-control" aria-describedby="emailHelp" value="eprieto502@miami.edu"/>
                    <small id="emailHelp" class="form-text text-muted">
                        Please use a permanent email address that he public will see.
                    </small>
                </div>
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input id="fname" name="fname" class="form-control" value="Eduardo"/>
                </div>
                <div class="form-group">
                    <label for="mname">Middle Name</label>
                    <input id="mname" name="mname" class="form-control" value="N"/>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input id="lname" name="lname" class="form-control" value="Prieto"/>
                </div>
            </div>
             <div class="panel-footer">Make sure to list the name as seen on the document.</div>
        </div>

        <!-- PUBLICATION DATE -->
        <div class="panel panel-default">
            <div class="panel-heading">Publication Date</div>
            <div class="panel-body">
                <div class="form-group">
                    <input id="pubdate" name="pubdate" type="text" class="form-control" readonly/>
                </div>
            </div>
             <div class="panel-footer">The publication date is set to today's date.</div>
        </div>

        <!-- AVAILABILITY-->
        <div class="panel panel-default">
            <div class="panel-heading">Availability</div>
            <div class="panel-body">
                <p>coming soon</p>
            </div>
        </div>

        <!-- DEGREE NAME-->
        <div class="panel panel-default">
            <div class="panel-heading">Degree Name</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="degreename" id="march" value="march">
                        <label class="form-check-label" for="march">Masters of Architecture (MArch)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="degreename" id="ma" value="ma">
                        <label class="form-check-label" for="ma">Masters of Arts (MA)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="degreename" id="me" value="me">
                        <label class="form-check-label" for="me">Masters of Engineering (ME)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="degreename" id="mfa" value="mfa">
                        <label class="form-check-label" for="mfa">Masters of Fine Arts (MFA)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="degreename" id="mm" value="mm">
                        <label class="form-check-label" for="mm">Masters of Music (MM)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="degreename" id="ms" value="ms">
                        <label class="form-check-label" for="ms">Masters of Science (MS)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="degreename" id="march" value="march">
                        <label class="form-check-label" for="march">Masters of Science (MArch)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="degreename" id="msed" value="msed">
                        <label class="form-check-label" for="msed">Masters of Science (MSEd)</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- DATE -->
         <div class="panel panel-default">
            <div class="panel-heading">Date of Defense</div>
            <div class="panel-body">
                <div class="form-group">
                    <!-- <label for="date">Date</label> -->
                    <input id="date" name="date" class="form-control" type="date"/>
                </div>
            </div>
        </div>

        <!-- COMMITTEE MEMBERS -->
         <div class="panel panel-default">
            <div class="panel-heading">Committee Members</div>
            <div class="panel-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Middle name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Middle name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Middle name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Middle name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Middle name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <hr>
                 <div class="form-row">
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Middle name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Middle name">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <!-- <div class="row">
                        <button type="button" class="btn btn-link">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            Add more committee members
                        </button>
                </div> -->
            </div>
            <div class="panel-footer">
                Add the names of the committee members (up to 7). The Chairperson’s name (Mentor's
                name for Medical School students only) should be added first. (Medical School students
                should add the Chairperson's name in the second Committee Members' space.) Format each
                name: First name, middle name or initial, last name (e.g., John W. Smith). Omit titles and
                degrees. Do not add the Dean of the Graduate School.

            </div>
        </div>

        <!-- ABSTRACT -->
        <div class="panel panel-default">
            <div class="panel-heading">Abstract</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="abstract">Abstract</label>
                    <textarea class="form-control" id="abstract" name="abstract" rows="3"></textarea>
                </div>
            </div>
             <div class="panel-footer">
                 250 word limit. Please note that your text will get cut off if you reach the limit. Do not include
                 the Abstract heading that appears in the manuscript. Do not paste directly from a Microsoft Word
                 document. 'Save as' a text file, then copy/paste from the saved file.
             </div>
        </div>

        <!-- NOTES -->
        <div class="panel panel-default">
            <div class="panel-heading">Notes</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" id="notes" rows="3"></textarea>
                </div>
            </div>
        </div>

        <!-- KEYWORDS -->
         <div class="panel panel-default">
            <div class="panel-heading">Keywords</div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="keywordone" name="keywords">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="keywordtwo" name="keywords">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="keywordthree" name="keywords">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="keywordfour" name="keywords">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="keyword five" name="keywords">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="keywordsix" name="keywords">
                </div>
               <!-- <div class="row">
                        <button type="button" class="btn btn-link">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            Add more keywords
                        </button>
                </div> -->
            </div>
             <div class="panel-footer">
                 6 keyword limit.
             </div>
        </div>

        <!-- FILE -->
        <div class="panel panel-default">
            <div class="panel-heading">File Upload</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="custom-file">
                        <label class="custom-file-label" for="file">Upload Full Text</label>
                        <input type="file" name="file" class="custom-file-input" id="file">
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                 Allowed formats are txt, pdf, docx...
             </div>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

{% endblock %}