{% extends "base.html" %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">1. Select deposit type</li>
  </ol>
</nav>

    <h1>Select Deposit Type</h1>

    <form action="{{ action }}" method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="deposittype" value="dissertation">
                Dissertation</button>
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="deposittype" value="dissertation">
                Masters</button>
        </div>
    </form>
{% endblock %}